
@{
    ViewBag.Title = "Aktywacja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Twoje konto zsotało aktywowane!</h2>
@Html.ActionLink("Zaloguj się ", "Logowanie")

@{ 
    string test = "dupa";

}